@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

#container {
  max-width: 120rem;
  margin: 0 auto;
}

#header-section {
  background: rgba(255, 144, 14, 0.1);
}

#nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: 0px auto;
  padding-top: 3.125rem;
  padding-bottom: 6.375rem;
}

#logo {
  color: rgb(19, 19, 19);
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.3125rem;
  text-align: center;
}

#nav-link {
  display: flex;
  color: rgb(66, 66, 66);
}

#nav-link > li {
  list-style: none;
}

#nav-link > li > a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  padding-left: 75px;
}

#header-section .header-title {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.6875rem;
  text-align: center;
}

#header-section .header-subtitle {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: center;
  max-width: 54.25rem;
  margin: 0 auto;
  padding-top: 1.5625rem;
}

#header-section .btn-position {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.0625rem;
  padding-bottom: 3.125rem;
}

.btn {
  border-radius: 0.5rem;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
  text-align: center;
  padding: 1.25rem 1.5625rem;
}

#header-banner {
  border-radius: 0.5rem;
  max-width: 90rem;
  max-height: 43.75rem;
  margin: 0 auto;
  padding-bottom: 2.8125rem;
}

#quick-list {
  max-width: 82.5rem;
  display: flex;
  margin: 5.3125rem auto 0px;
}

#quick-list-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

#quick-list-gallery .img-container {
  width: 21.375rem;
  height: 21.375rem;
  border-radius: 0.5rem;
  border: 1px dashed gray;
}

#quick-list-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4.6875rem;
}

#quick-list-info-title {
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.3125rem;
}

#title-style-1 {
  color: rgb(114, 114, 114);
  font-weight: 500;
}

#title-style-2 {
  color: rgb(255, 144, 14);
}

#quick-list-info-subtitle {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: justify;
  padding: 1.5rem 0px;
}

#feature-section {
  max-width: 90rem;
  max-height: 66.25rem;
  display: flex;
  margin: 8.125rem auto 0px;
}

#feature-section .info {
  max-width: 40rem;
  box-sizing: border-box;
  padding: 2.1875rem 3.375rem 2.1875rem 0px;
}

#feature-section .title {
  color: rgb(19, 19, 19);
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.3125rem;
  border-left: 0.3125rem rgb(255, 144, 14) solid;
  padding-left: 1.5625rem;
  max-width: 29.25rem;
}

#feature-section .subtitle {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.feature-card {
  max-width: 36.625rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0.25rem 1.875rem 0px rgba(0, 0, 0, 0.06);
  padding: 1.875rem;
  margin-top: 1.25rem;
}

.feature-card .card-title {
  color: rgb(19, 19, 19);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
}

.feature-card .card-subtitle {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding-top: 0.625rem;
  text-align: justify;
}

#feature-section .container {
  position: relative;
}

#feature-section .container .section-img-container {
  padding-left: 5.75rem;
}

#feature-section .experience-card {
  position: absolute;
  bottom: 0px;
  width: 21.375rem;
  height: 12.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: rgb(255, 144, 14);
  padding: 2.8125rem 2.625rem;
}

#feature-section .experience-card > h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 4.0625rem;
  line-height: 4.375rem;
  text-align: center;
}

#feature-section .experience-card > p {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 2.5rem;
  text-align: center;
}

#facts-section {
  max-width: 90rem;
  margin: 8.125rem auto 0px;
}

#facts-section > h1 {
  color: rgb(19, 19, 19);
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.3125rem;
  padding-bottom: 1.5rem;
}

#facts-section > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  max-width: 33.6rem;
}

#facts-section .fact-card-container {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fact-card {
  width: 15.125rem;
  height: 15.125rem;
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fact-card > h2 {
  color: rgb(66, 66, 66);
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 3.3125rem;
  padding: 0.3125rem 0rem;
}

.fact-card > p {
  color: rgb(114, 114, 114);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
}

#sponsors-section {
  max-width: 90rem;
  margin: 9.25rem auto 0rem;
}

#sponsors-section > h1 {
  color: rgb(19, 19, 19);
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.3125rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

#sponsors-section > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: center;
  max-width: 33.6rem;
  margin: 0rem auto;
}

#sponsors-section .sponsors-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}

#footer {
  max-width: 90rem;
  height: 6.25rem;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  margin: 8rem auto 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer > p {
  color: rgb(66, 66, 66);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4375rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #nav-section {
    display: block;
    padding: 1.5625rem 0.625rem 2.8125rem;
  }

  #logo {
    display: none;
  }

  #nav-link {
    justify-content: space-between;
  }

  #nav-link > li > a {
    line-height: 1.25rem;
    text-align: center;
    padding-left: 0px;
  }

  #header-section .header-title {
    font-size: 2.25rem;
    line-height: 2.8125rem;
  }

  #header-section .header-subtitle {
    text-align: justify;
    padding: 1.25rem 0.625rem 0rem;
  }

  #header-section .btn-position {
    padding-bottom: 2.8125rem;
  }

  #header-banner {
    padding: 0rem 0.625rem 0.9375rem;
  }

  #quick-list {
    flex-direction: column;
    margin-top: 3.4375rem;
  }

  #quick-list-gallery {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2.1875rem;
  }

  #quick-list-gallery .img-container {
    margin: 0px auto;
    border: none;
  }

  #quick-list-info {
    padding: 0px 0.625rem;
  }

  #feature-section {
    flex-direction: column;
    margin: 2.5rem auto 0px;
    max-height: 100%;
  }

  #feature-section .info {
    margin-left: 0.625rem;
    padding: 2.1875rem 0.625rem 2.1875rem 0px;
  }

  .feature-card {
    border: 1px dashed gray;
  }

  #feature-section .container .section-img-container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  #feature-section .experience-card {
    width: 15.5rem;
    height: 7.8125rem;
    margin-left: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #feature-section .experience-card > h1 {
    font-size: 2.8125rem;
    line-height: 2.25rem;
  }

  #feature-section .experience-card > p {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  #facts-section {
    margin: 4.5rem auto 0px;
    padding: 0rem 0.625rem;
  }

  #facts-section .fact-card-container {
    padding-top: 3rem;
    justify-content: center;
    gap: 1.5rem;
  }

  #sponsors-section {
    margin: 4.5rem auto 0rem;
  }

  #sponsors-section > p {
    padding: 0rem 0.625rem;
  }

  #sponsors-section .sponsors-logo {
    justify-content: center;
    gap: 2rem;
  }

  #footer {
    margin: 5.5rem 0.625rem 1.5rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #nav-section {
    padding: 1.25rem 0.625rem 2.1875rem;
  }

  #logo {
    font-size: 1.5625rem;
    line-height: 2.8125rem;
  }

  #nav-link > li > a {
    line-height: 1.25rem;
    text-align: center;
    padding-left: 1.25rem;
  }

  #header-section .header-title {
    font-size: 2.25rem;
    line-height: 2.8125rem;
  }

  #header-section .header-subtitle {
    text-align: justify;
    padding: 1.25rem 0.625rem 0rem;
  }

  #header-section .btn-position {
    padding-bottom: 2.8125rem;
  }

  #header-banner {
    padding: 0rem 0.625rem 0.9375rem;
  }

  #quick-list {
    flex-direction: column;
    margin-top: 3.4375rem;
  }

  #quick-list-gallery {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2.1875rem;
  }

  #quick-list-gallery .img-container {
    margin: 0px auto;
    border: none;
  }

  #quick-list-info {
    padding: 0px 0.625rem;
  }

  #feature-section {
    flex-direction: column;
    margin: 2.5rem auto 0px;
    max-height: 100%;
  }

  #feature-section .info {
    max-width: 100%;
    margin-left: 0.625rem;
    padding: 2.1875rem 0.625rem 2.1875rem 0px;
  }

  .feature-card {
    border: 1px dashed gray;
    margin: 1.25rem auto;
  }

  #feature-section .container .section-img-container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  #feature-section .experience-card {
    width: 15.5rem;
    height: 7.8125rem;
    margin-left: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #feature-section .experience-card > h1 {
    font-size: 2.8125rem;
    line-height: 2.25rem;
  }

  #feature-section .experience-card > p {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  #facts-section {
    margin: 4.5rem auto 0px;
    padding: 0rem 0.625rem;
  }

  #facts-section .fact-card-container {
    padding-top: 3rem;
    justify-content: center;
    gap: 1.5rem;
  }

  #sponsors-section {
    margin: 4.5rem auto 0rem;
  }

  #sponsors-section .sponsors-logo {
    justify-content: center;
    gap: 2rem;
  }

  #footer {
    margin: 5.5rem 0.625rem 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #nav-section {
    padding: 1.5625rem 0.625rem 2.8125rem;
  }

  #logo {
    font-size: 1.5625rem;
    line-height: 2.8125rem;
  }

  #nav-link > li > a {
    line-height: 1.25rem;
    text-align: center;
    padding-left: 1.25rem;
  }

  #header-section .header-title {
    font-size: 2.25rem;
    line-height: 2.8125rem;
  }

  #header-section .header-subtitle {
    text-align: center;
  }

  #header-banner {
    padding: 0rem 0.625rem 0.9375rem;
  }

  #quick-list {
    flex-direction: column;
    margin-top: 4.0625rem;
  }

  #quick-list-gallery {
    padding-bottom: 2.8125rem;
  }

  #quick-list-gallery .img-container {
    margin: 0px auto;
  }

  #quick-list-info {
    padding: 0px 0.625rem;
  }

  #feature-section {
    flex-direction: column;
    margin: 2.5rem auto 0px;
    max-height: 100%;
  }

  #feature-section .info {
    max-width: 100%;
    margin-left: 0.625rem;
    padding: 2.1875rem 0.625rem 2.1875rem 0px;
  }

  .feature-card {
    border: 1px dashed gray;
    margin: 1.25rem auto;
  }

  #feature-section .container .section-img-container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  #feature-section .experience-card {
    margin-left: 0.625rem;
  }

  #facts-section {
    margin: 4.5rem auto 0px;
    padding: 0rem 0.625rem;
  }

  #facts-section .fact-card-container {
    padding-top: 3rem;
    justify-content: center;
    gap: 1.5rem;
  }

  #sponsors-section {
    margin: 4.5rem auto 0rem;
  }

  #sponsors-section .sponsors-logo {
    justify-content: center;
    gap: 2rem;
  }

  #footer {
    margin: 5.5rem 0.625rem 1.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1460px) {
  #nav-section {
    padding: 2.8125rem 0.625rem 4.6875rem;
  }
  #header-banner {
    padding: 0rem 0.625rem 1.5625rem;
  }

  #quick-list {
    margin-top: 4.6875rem;
  }

  #quick-list-gallery {
    padding-left: 0.625rem;
  }

  #quick-list-gallery .img-container {
    width: 17.1875rem;
    height: 17.1875rem;
  }

  #quick-list-info {
    padding: 0rem 0.625rem 0rem 1.875rem;
  }

  #feature-section {
    flex-direction: column;
    margin: 2.5rem auto 0px;
    max-height: 100%;
  }

  #feature-section .info {
    max-width: 100%;
    margin-left: 0.625rem;
    padding: 2.1875rem 0.625rem 2.1875rem 0px;
  }

  .feature-card {
    border: 1px dashed gray;
    margin: 1.25rem auto;
  }

  #feature-section .container .section-img-container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  #feature-section .experience-card {
    margin-left: 0.625rem;
  }

  #facts-section {
    margin: 4.5rem auto 0px;
    padding: 0rem 1.25rem;
  }

  #facts-section .fact-card-container {
    padding-top: 3rem;
    justify-content: center;
    gap: 1.5rem;
  }

  #sponsors-section {
    margin: 4.5rem auto 0rem;
  }

  #sponsors-section .sponsors-logo {
    padding: 3rem 0.625rem 0rem;
  }

  #footer {
    margin: 5.5rem 0.625rem 1.5rem;
  }
}
